---
title: Today's Item Shop Preview & Countdown
---


<html>

<head>

  <title>{{ site.title }} • {{ page.title }}</title>

  <!-- SEO -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="keywords" content="fortnite, countdown, timer, time left, chapter 3, season 4">
  <meta name="description"
    content="Timenite shows countdowns for Fortnite Seasons, Item Shop resets and is a blog on Fortnite.">
  <meta name="image" content="https://timenite.com/assets/daily-cover2.jpg">
  <!-- SEO -->


  <!-- Open Graph SEO -->
  <meta property="og:title" content="{{ page.title }} • {{ site.title }}">
  <meta property="og:description"
    content="Timenite shows countdowns for Fortnite Seasons, Item Shop resets and is a blog on Fortnite" />
  <meta property="og:image" content="{{ site.data.setup.coverImage }}">
  <!-- Open Graph SEO -->


  {% include header.html %}


</head>

<body>

  {% include navbar.html %}



  <p class="is-size-6 paragraph is-underlined timenite-peach pt-5 has-text-centered image-message"><a href="daily" target="_blank">
    Check out our new free feature - Timenite Daily!</a><br>     
   </p>
  <section class="item-shop hero container countdown-section is-fullheight">

    <div id="clock" class="image is-justify-content-center item-shop-full">

     <div class="content-loader"><span class="loader hero"></span></div> 
     
      <img id="item-shop-preview" src="https://today.timenite.com/itemshop-transparent.png?n=55">
      <p class="is-size-7 paragraph timenite-peach p-5 has-text-centered image-message">
   <span class="hours">00</span><span> : </span>
   <span class="minutes">00</span><span> : </span>
   <span class="seconds">00</span> until this preview updates, which is 3-minutes after Fortnite's in-game Item Shop updates every day.<br>     
  </p>
    </div>
  
  
      <div id="clockgame" class="countdown-hours is-flex is-justify-content-center timenite-blue pt-6">
        <li class="has-text-centered is-size-1"><span class="hours">00</span>
          <p class="hours_text is-size-5 has-text-centered">Hours</p>
        </li>
        <li class="pb-3 pr-2 pl-2 is-size-1">:</li>
        <li class="has-text-centered is-size-1"><span class="minutes">00</span>
          <p class="minutes_text is-size-5 has-text-centered">Minutes</p>
        </li>
        <li class="pb-3 pr-2 pl-2 is-size-1">:</li>
        <li class="has-text-centered is-size-1"><span class="seconds">00</span>
          <p class="seconds_text is-size-5 has-text-centered">Seconds</p>
        </li>
      </div>
  
    <div class="container has-text-centered">
      <!-- <div class="column is-vcentered p-4"> -->
   
      <!-- </div> -->
      <!-- <div class="has-text-left has-text-centered-mobile column"> -->
        <p class="pt-1 is-size-5 paragraph timenite-blue pt-6">until</p>
        <h2 class="is-size-2  is-size-4 chapter-name  timenite-blue">Fortnite's Item Shop</h2>
        <p class="pt-1 is-size-3  is-size-4">updates again</p>
  
        <p class="is-size-7 paragraph timenite-peach p-5">
          Support-A-Creator Code: <strong class="timenite-peach">'pri'</strong><br>(#epicpartner)</p>
    </div>
    
  </section>
  
  {% include horizontalad.html %}
  
  <section class="is-halfheight hero container">
    <div class="container p-4">
      <div class="support-section pt-6">
        <strong class="paragraph timenite-black is-size-4">
          When does the Daily Item Shop reset?
        </strong>
  
        <p class="paragraph timenite-black is-size-5 pt-2">
    Fortnite's Item Shop currently resets every day at 00:00 UTC.<br><br>The shop's preview on this page, however updates three minutes after that (00:03 UTC).
        </p>
  
  
  
      </div>
    </div>
  </section>
  
  <script>
  </script>

  <section class="is-halfheight hero container pt-6 pb-6">
    <div class="container p-4">
      <div class="support-section">
        <h2 class="blog-title is-size-3 timenite-peach">Latest Posts</h2>
        <ul class="paragraph is-size-5" style="list-style-position:inside">
          {% for post in site.posts limit:5 %}
          <li class="timenite-black">
            <br>
            {{ post.date | date: "%d %B %Y"}} - <a href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </section>


  <!-- <section class="is-halfheight hero container pt-6 pb-6 has-text-centered">
    <div class="container p-4">
      <div class="support-section">
        <p class="paragraph timenite-black is-size-5">
          Timenite is just a simple
          fan-made website that shows countdowns for Seasons & Item Shop
          resets along with a blog related to Fortnite. </p>


        <p class="paragraph timenite-black is-size-5 pt-4">
          If you’d like to
          support me and this small little project, you can - <a href="https://www.buymeacoffee.com/priyamraj"
            target="_blank">Buy me a
            Coffee</a>.
        </p>

        <p class="paragraph paragraph-mid timenite-black is-size-5 pt-4">
          Or you can use my <strong>Support-A-Creator</strong> code in Fortnite or Epic
          Games which is -> <strong>PRI</strong> (#epicpartner)
        </p>

        <p class="is-size-6 paragraph timenite-black pt-5 level-right"></p>

        <p class="paragraph paragraph-bottom timenite-black is-size-5 has-text-centered pt-6">Either way, thank you for
          being here.
        </p>
      </div>
    </div>
  </section> -->


  {% include horizontalad.html %}




  {% include footer.html %}


  <!--Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js?n=2"></script>
  <script src="/scripts/itemShop.js"></script>


</body>

</html>

