<section id="full-countdown" class="season-countdown">
  <h1>When does Fortnite Chapter 4 Season 4 end?</h1>

  <div class="countdown-container">
    <div class="ads-container">
      <a
        href="https://store.steampowered.com/app/1366800/Crosshair_X?utm_source=timenite"
        class="pc-ads"
        target="_blank"
        >
      <img src="./assets/ads/PCX.png" alt=""
     /></a>
      <a
        href="https://store.steampowered.com/app/1366800/Crosshair_X?utm_source=timenite"
        class="mobile-ads"
        target="_blank"
       >
      <img src="./assets/ads/MobileX.png" alt=""
      /></a>
       <div class="overlayX">
      <img id="imageOverlayX"  src="./assets/ads/overlay/CrosshairX/1.png" alt="Overlay Image">
    </div>
  </div>
    <div class="progress-bar-container">
      <div class="progress-bar">
        <p>
          Season 4 is <span id="percentage" class="orange-text"> 62%</span>
          complete. There are
          <span id="remaning-day" class="days-left orange-text"> 27 </span>
          days remaining.
        </p>
        <div class="progress-container">
          <div class="progress"></div>
        </div>
      </div>
      <ul class="countdown">
        <li class="days-left">00</li>
        <li class="points">:</li>
        <li class="hours">00</li>
        <li class="points">:</li>
        <li class="minutes">00</li>
        <li class="points">:</li>
        <li class="seconds">00</li>
      </ul>
      <ul class="season-dates">
        <li class="season-end-date">
          Fortnite Season 4 ends on
          <span class="orange-text" id="season-end-date"
            >Friday, November 3, 2023.</span
          >
        </li>
        <li class="season-start-date">
          Fortnite Season 5 starts on
          <span id="season-start-date" class="orange-text">
            Friday, November 3, 2023.</span
          >
        </li>
      </ul>
    </div>
    <div class="ads-container">
       <a
        href="https://store.steampowered.com/app/1366800/Crosshair_X?utm_source=timenite"
      class="mobile-ads"
      target="_blank"
    >
      <img src="./assets/ads/MobileV2.png" alt=""
    /></a>
    <a
      href="https://store.steampowered.com/app/2250040/Crosshair_V2?utm_source=timenite"
      class="pc-ads"
    >
    
      <img src="./assets/ads/PCX2.png" alt="" target="_blank"
    /></a>
  <div  class="overlayV2">
    <img id="imageOverlayV2"  src="./assets/ads/overlay/CrosshairV2/1.png" alt="Overlay Image">
  </div>
  </div>


  </div>
  </div>
</section>
  <section id="pre-season" class="container"></section>