
  
  <section class="hero container pt-6 pb-6">
    <div class="container p-4">
      <div class="support-section">

     

        <nav class="has-text-centered pt-5">
        <a class="timenite-blue is-size-5 pr-3" href="https://github.com/priyam-raj/timenite" target="_blank">GitHub</a>
        <a class="timenite-blue is-size-5 pr-3" href="/sitemap.xml" target="_blank">Sitemap</a>
        <a class="timenite-blue is-size-5" href="../embeds" target="_blank">Embed</a>
        </nav>  

        <nav class="has-text-centered pt-5">
          <a class="timenite-blue is-size-5 pr-3" href="/about">About</a>
          <a class="timenite-blue is-size-5 pr-3" href="/privacy-policy">Privacy Policy</a>
          <p class="paragraph paragraph-bottom timenite-black is-size-6 has-text-centered pt-6">
            <> with <3 by <br>
                <p class="paragraph has-text-centered timenite-black">Priyam Raj</p>
          </p>
        </nav>
        </p>
      </div>
    </div>
  </section>


