<div class="advertisement pb-6">
          <script async
               src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9957904903031832"
               crossorigin="anonymous"></script>
          <!-- Leaderboard for Timenite -->
          <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-9957904903031832" data-ad-slot="1463916799"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
</div>