<nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">

  <div class="navbar-brand p-4">
    <a class="navbar-item" href="/">
      <span class="is-size-3 timenite-peach">timenite</span>
    </a>
    <div class="navbar-burger" data-target="timenite-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="timenite-menu" class="navbar-menu">
    <div class="navbar-end">

      <a class="timenite-peach navbar-item" href="/">Season Countdown</a>
      <a class="timenite-peach navbar-item" href="../item-shop">Item Shop</a>
      <a class="timenite-peach navbar-item" href="../blog">Blog</a>


    </div>

  </div>
  

</nav>