<nav
  class="navbar is-transparent is-spaced"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand p-4">
    <a class="navbar-item" href="/">
      <span class="is-size-2 timenite-peach">timenite</span>
    </a>
    <div class="navbar-burger" data-target="timenite-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="timenite-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="timenite-peach navbar-item is-size-4" href="/"
        >season countdown</a
      >
      <a class="timenite-peach navbar-item is-size-4" href="../item-shop"
        >item shop</a
      >
      <a class="timenite-peach navbar-item is-size-4" href="../blog"
        >blog posts</a
      >
      <a class="timenite-peach navbar-item is-size-4" href="../embeds">embed</a>
      <a class="timenite-peach navbar-item is-size-5" href="https://twitter.com/timenitedaily" target="_blank">
        <span class="icon"><i class="fa-brands fa-twitter"></i></span>
      </a>
      <a class="timenite-peach navbar-item is-size-5" href="https://instagram.com/timenitedaily" target="_blank">
        <span class="icon"><i class="fa-brands fa-instagram"></i></span>
      </a>
      <a class="timenite-peach navbar-item is-size-5" href="https://discord.gg/RkfbMzbHND" target="_blank">
        <span class="icon"><i class="fa-brands fa-discord"></i></span>
      </a>
    </div>
  </div>
</nav>
