<html>

<head>

  <title>{{ site.title }} • {{ page.title }}</title>

  <!-- SEO -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="keywords" content="fortnite, countdown, timer, time left, chapter 3, season 4">
  <meta name="description"
    content="Timenite shows countdowns for Fortnite Seasons, Item Shop resets and is a blog on Fortnite.">
  <meta name="image" content="{{ site.data.setup.coverImage }}">
  <!-- SEO -->


  <!-- Open Graph SEO -->
  <meta property="og:title" content="{{ page.title }} • {{ site.title }}">
  <meta property="og:description"
    content="Timenite shows countdowns for Fortnite Seasons, Item Shop resets and is a blog on Fortnite" />
  <meta property="og:image" content="{{ site.data.setup.coverImage }}">
  <!-- Open Graph SEO -->


  {% include header.html %}


</head>

<body>

  {% include navbar.html %}



  {{ content }}


  <section class="is-halfheight hero container pt-6 pb-6">
    <div class="container p-4">
      <div class="support-section">
        <h2 class="blog-title is-size-3 timenite-peach">Latest Posts</h2>
        <ul class="paragraph is-size-5" style="list-style-position:inside">
          {% for post in site.posts limit:5 %}
          <li class="timenite-black">
            <br>
            {{ post.date | date: "%d %B %Y"}} - <a href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section class="is-halfheight hero container pt-6 pb-6 has-text-centered">
    <div class="container p-4">
      <div class="support-section">
        <p class="paragraph timenite-black is-size-5">
          Timenite is just a simple
          fan-made website that shows countdowns for Seasons & Item Shop
          resets along with a blog related to Fortnite. </p>


        <p class="paragraph timenite-black is-size-5 pt-4">
          If you’d like to
          support me and this small little project, you can - <a href="https://www.buymeacoffee.com/priyamraj"
            target="_blank">Buy me a
            Coffee</a>.
        </p>

        <p class="paragraph paragraph-mid timenite-black is-size-5 pt-4">
          Or you can use my <strong>Support-A-Creator</strong> code in Fortnite or Epic
          Games which is --> <strong>PRI</strong> (#epicpartner)
        </p>

        <p class="is-size-6 paragraph timenite-black pt-5 level-right"></p>

        <p class="paragraph paragraph-bottom timenite-black is-size-5 has-text-centered pt-6">Either way, thank you for
          being here.
        </p>
      </div>
    </div>
  </section>


  {% include horizontalad.html %}




  {% include footer.html %}


  <!--Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/main.js"></script>


  <script>
    // For Season
    var now = new Date();
    var day = now.getDate();
    var month = now.getMonth() + 1;
    var year = now.getFullYear() + 1;

    var nextyear = month + '/' + day + '/' + year + ' 07:07:07';

    $('#full-countdown').countdown({
      date: '{{ site.data.setup.seasonDateTime }}',
      // ^ Change this to tweak the upcoming Season's time in UTC 00:00 
      // Date format: 07/27/2017 17:00:00

      // offset: +3, 
      // ^ Uncomment for additional timezone offset
      day: 'Day',
      days: 'Days'
    }, function () {
      alert('Well, time to wait!');
    });


  </script>


  <script>
    // For Daily Item Shop
    var today = new Date();
    var tomorrow = new Date(today);
    tomorrow.setDate(today.getDate() + 1);
    var day = tomorrow.getDate();
    var month = tomorrow.getMonth() + 1;
    var year = tomorrow.getFullYear();

    var nextday = month + '/' + day + '/' + year + ' {{ site.data.setup.itemShopUpdateTime }}';

    $('#clock').countdown({
      date: nextday,
      day: 'Day',
      days: 'Days'
    },

      function () {
        day++;
      });

    // For Daily Item Shop Preview
    var today = new Date();
    var tomorrow = new Date(today);
    tomorrow.setDate(today.getDate() + 1);
    var day = tomorrow.getDate();
    var month = tomorrow.getMonth() + 1;
    var year = tomorrow.getFullYear();

    var nextday = month + '/' + day + '/' + year + ' 00:00:00';

    $('#clockgame').countdown({
      date: nextday,
      day: 'Day',
      days: 'Days'
    },

      function () {
        day++;
        location.reload();
      });

// Hides loader after image loads.
    $(document).ready(function () {
      var tmpImg = new Image();
      tmpImg.src = $('#item-shop-preview').attr('src');
      tmpImg.onload = function () {
        $(".content-loader").hide();
      };
    });


  </script>


</body>

</html>