<html>

<head>

    <title>{{ site.title }} • {{ page.title }}</title>




    <link href="https://fonts.googleapis.com/css?family=Dangrek" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="/assets/icon.ico">
    <link rel="stylesheet" href="/styles/embeds.css?n=2" />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100883877-17"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-100883877-17');
    </script>


<body>


    

    {{ content }}





    <!--Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>


    <script>
        // For Daily Item Shop
        var today = new Date();
        var tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1);
        var day = tomorrow.getDate();
        var month = tomorrow.getMonth() + 1;
        var year = tomorrow.getFullYear();
        var nextday = month + '/' + day + '/' + year + ' {{ site.data.setup.itemShopUpdateTime }}';
        $('#clock').countdown({
            date: nextday,
            day: 'Day',
            days: 'Days'
        },

            function () {
                day++;
                location.reload();
            });
    </script>


</body>
</head>

</html>