<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }} • {{ site.title }}</title>


    <!-- SEO -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="{{ page.tags }}">
    <meta name="author" content="Priyam Raj">
    <meta name="description" content="{{ page.description }}">
    <meta name="date" content="{{ page.date }}">
    <meta name="image" content="{{ page.image }}">
    <!-- SEO -->



    <!-- Open Graph SEO -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:date" content="{{ page.date }}">
    <!-- Open Graph SEO -->



    {% include header.html %}



</head>



<body>


    {% include navbar.html %}


    <section class="container countdown-section is-fullheight">
        <div class="container p-4">
            <div class="blog-post">
                <h2 class="post-title is-size-2 timenite-black pb-3">{{ page.title }}</h2>

                <div class="post-details p-1">
                    <span class="is-size-7 timenite-black paragraph"> {{ page.date | date: "%d %B %Y"}} | </span>
                    <span class="is-size-7 timenite-black paragraph">{% assign words = content |
                        number_of_words %}
                        {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} read</span>
                </div>
                <div class="paragraph timenite-black is-size-5">
                    {{ content }}
                </div>
            </div>
        </div>

        <div class="advertisement">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9957904903031832"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
                data-ad-client="ca-pub-9957904903031832" data-ad-slot="6716243470"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </section>


    {% include footer.html %}

    <!--Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../scripts/main.js"></script>
    <!-- <script src="scripts/daily.js"></script> -->



</body>

</html>