
.countdown-itemshop {
  color: #ff8101;
  font-size: 3px;
  height: 80;
  color: #ff8101;
  border: 4px solid;
  border-radius: 12px;
  text-align: center;
  
  
}


.countdown-seasons {
  font-size: 3px;
  height: 80;
  color: #ff8101;
  border: 4px solid;
  border-radius: 12px;
  text-align: center;
}

ul#embed li {
  display: inline-block;
  font-size: 75px;
  line-height: 80px;
}

ul#embed li.seperator {
  font-size: 75px;
  line-height: 70px;
  vertical-align: top;
}



#embed {
  padding: 0px;
}


