body {
  margin: 0;
  padding: 0;
  font-family: "Salsa", cursive;
  width: 100%;
  position: relative;
  min-height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #be29b9,
    #a01ead,
    #8215a1,
    #630c94,
    #430586,
    #2f127e,
    #1b1774,
    #001969,
    #07225f,
    #172853,
    #242d45,
    #2f3136
  );
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}


.progress-container {
  position: relative;
  height: 24px !important;
  max-width: 580px;
  margin: 17px auto;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000;
  border-radius: 18px;
}

.progress {
  height: 18px !important ;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsl(221, 70%, 55.5%)),
    color-stop(34%, hsl(269, 83.8%, 71%)),
    color-stop(67%, hsl(221, 70%, 55.5%)),
    to(hsl(269, 83.8%, 71%))
  );
  background: linear-gradient(
    90deg,
    hsl(221, 70%, 55.5%),
    hsl(269, 83.8%, 71%) 34%,
    hsl(221, 70%, 55.5%) 67%,
    hsl(269, 83.8%, 71%)
  );
  background-size: 300% 100%;

  border-radius: 18px;
  width: 40%;
}
.progress-bar p {
  font-size: 21px;
}

.countdown {
  display: flex;
  padding: 20px;
  margin: 20px 0;
  color: #ff8101;
  font-size: 68px;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
  line-height: 1;
  border: 4px solid #ff8101;
  border-radius: 0.32em;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.season-countdown {
  color: #fff;
  text-align: center;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 20px 0;
}

.season-countdown h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 40px;
}

.orange-text {
  color: #ff8101;
}
.points {
  margin-top: -10px;
}
.season-dates {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.season-dates {
  font-size: 23px;
}
.container {
  max-width: 1220px;
  margin: auto;
}
#pre-season {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}
#pre-season h2 {
  text-transform: uppercase;
  font-size: 28px;
}
.chapters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.chapters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}
.chapters-container h3 {
  font-size: 24px;
}
/* Season */
.season {
  width: 310px;
  height: 320px;
  border-radius: 12px;
  background: #212225;
}
.season img {
  width: 310px;
  height: 189px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.season ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 2px;
}

.season ul :nth-child(2) a {
  color: #ff8101;
  font-size: 16px;
}
.season ul :nth-child(1) {
  font-size: 20px;
  font-style: bold;
}
.season ul :nth-child(4) {
  color: #b9bbbe;
  font-style: italic;
  font-size: 16px;
  margin-top: 1px;
}
.season ul :nth-child(3) {
  margin-top: 13px;
}

/* navbar */
.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-media li img {
  width: 30px;
  height: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #be29b9,
    #a01ead,
    #630c94,
    #430586,
    #2f127e
  );
  width: 100%;
  position: fixed;
  padding: 0;
}
.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.navigation li a {
  color: #fff;
}
#logo {
  height: 30px;
  width: 180px;
}
.navbar h2 {
  font-size: 28px;
}
.countdown-container {
  display: flex;
  gap: 20px;
  padding: 0 10px;
}
.pc-ads img {
  max-width: 250px;
}
.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}
.seconds {
  width: 80px;
}
.mobile-ads {
  display: none;
  max-height: 200px;
}
.mobile-ads img {
  max-height: 200px;
}
@media only screen and (max-width: 1200px) {
  .pc-ads img {
    max-width: 200px;
  }
  .countdown {
    font-size: 38px;
  }
  .season-countdown h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 32px;
  }
}
@media only screen and (max-width: 900px) {
  .pc-ads {
    display: none;
  }
  .countdown {
    font-size: 38px;
  }
  .mobile-ads {
    display: block;
  }
  .countdown-container {
    flex-direction: column;
  }
  .progress-bar-container {
    height: auto;
  }
  .season-dates {
    font-size: 18px;
  }
}
@media only screen and (max-width: 580px) {
  .countdown {
    font-size: 30px;
    padding: 10px;
  }
  .seconds {
    width: 40px;
  }
  .progress-container {
    height: 14px;
  }
  .progress {
    height: 13px;
  }
  .season-dates {
    padding: 0;
  }
  .season-countdown h1 {
    margin: 0;
    padding: 20px 10px;
    font-size: 28px;
  }
  .mobile-ads img {
    max-height: 120px;
  }
  .social-media {
    display: none;
  }
  #logo {
    height: 20px;
    width: 140px;
  }
  .progress-bar {
    max-width: 340px;
  }
  .progress-container {
    max-width: 340px;
  }
  .countdown {
    font-size: 28px;
    gap: 10px;
  }
  #pre-season h2 {
    padding: 0 10px;
    font-size: 22px;
  }
}

 .textarea{
  
  border: 4px solid #ff8101;
 }
 .control{
  padding: 40px 0;
 }