/* html {
  overflow: hidden;
} */

/* Primary Colors: */

.timenite-blue {
  color: #3ab0ff;
}

.timenite-peach {
  color: #f87474;
}

.timenite-white {
  color: #f9f2ed;
}

.timenite-black {
  color: #232323;
}

body {
  background-color: #f9f2ed;
  font-family: "Dangrek";
  color: #f87474;
  /* height: 100vh; */
  overflow-x: hidden;
}

@media (min-width:1048px)  {
.navbar {
    max-width: 75rem;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}



a {
  color: #3ab0ff;
}

.days-left {
  font-size: 15rem;
  margin-bottom: -70px;
}

.day-counter-days {
  font-size: 40px;
}

.countdown-hours {
  font-size: 90px;
  list-style-type: none;
}

.season-info {
  font-size: 50px;
}

.paragraph {
  font-family: "Bitter";
}

.navbar {
  background-color: transparent;
  text-align: center;
}



/* For mobile phones only: */
@media only screen and (max-width: 768px) {
  .countdown-hours {
    justify-content: center;
  }
  .item-shop {
    padding-top: 150px;
  }
  .days-left-container {
    padding-top: 50px;
  }
  .days-left {
    font-size: 12rem;
  }
  .navbar-menu {
    background-color: #f9f2ed;
  
  }
}

.li {
  color: #3ab0ff;
}

hr {
  display: block;
  max-width: 520px;
  height: 1px;
  border-bottom: 2px dashed #eee;
  background: #999;
  margin: 1em 0;
  padding: 0;
  margin: auto;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #101010;
  }
  .timenite-black {
    color: #f9f2ed;
  }

  strong {
    color: #f9f2ed;
  }

  hr {
    border-bottom: 2px dashed #eee;
    background: #999;
  }
}

.support-section {
  max-width: 480px;
}

.blog-post {
  max-width: 480px;
}

.blog-section {
  max-width: 480px;
}
